@font-face {
    font-family: 'logoFont';
    src: url('./fonts/BungeeHairline-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}


body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    height: 100vh;
    margin: 0;
    
}

/* image and logo section */

.bgroundImg {
    width: 35vw;
    height: 100vh;
    background-image: url(images/sunset.jpg);
    background-size: cover;
    /* background-repeat: no-repeat; */
    display: flex;
    flex-direction: column;

}

#buffer1{
    height: 20%;
}

.logoContainer{
    background-color: rgba(0,0,0,0.43);
    display: flex;
    justify-content: center;
    align-items: center;
}

#logo{
    width: 10vw;
}
#logoText{
    font-family: 'logoFont';
    font-weight: bolder;
    font-size: 3vh;
}


/* Form Section */

.container {
    /* display: flex; */
    width: 100%;
    height: 100%;
    background-color: rgb(245, 245, 245);
    /* spadding: 20px; */
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    /* margin-left: 2vw; */
    /* padding-left: 2vw; */
}
.blurb {

    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: rgba(0,0,0,0.43); */
    font-weight: bold;
    /* width: 50vw; */
    padding-left: 2vw;
    padding-right: 25vw;
    height: 20vh;
}

.form-container {
    background-color: #ffffff;
    /* border: 1px solid #000000; */
    /* border-radius: 3px; */
    padding-left: 2vw;
    box-shadow: 2px 2px 7px 1px rgba(28,110,164,0.65);
}
input{ 
    margin-right: 10px;
}

.input-row {
    display: flex;
    /* justify-content: space-between; */
    
    margin-right: 3vw;
}
.input-col {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

.input-row input {
    width: 20vw;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

/* below the form */
.submitButton{
    padding-left: 2vw;
    padding-top: 2vw;
}

button {
    /* width: 10%; */
    width: 150px;
    padding: 10px;
    
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    
}

p { 
    padding-top: 1vw;
}


button:hover {
    background-color: #45a049;
}

a {
    color: #000;
}

h2 {
    /* text-align: center; */
    margin-bottom: 20px;
}